<footer class="footer">
    <div class="footer-grid">
      <!-- First Cell: Pages -->
      <div class="footer-cell">
        <h4>Pages</h4>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'supp_trad' %}">Supply & Trading</a></li>
          <li><a href="{% url 'refining' %}">Refining</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      
      <!-- Second Cell: About BERT -->
      <div class="footer-cell about-us">
        <h4>About BERT Petroleum Consultants</h4>
        <p>We have completed over 500 projects. Specializing in design build and turnkey construction. We are passionate about design, architecture, and construction.</p>
      </div>
      
      <!-- Third Cell: Address, Number, and Email -->
      <div class="footer-cell">
        <h4>Contact Us</h4>
        <div class="contact-info">
          <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <p>Santa Barbara, CA</p>
          </div>
          <div class="contact-item">
            <i class="fas fa-phone"></i>
            <p>+4145951151</p>
          </div>
          <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <p>example@gmail.com</p>
          </div>
        </div>
        
      </div>
    </div>
</footer>

<!-- Copyright statement -->
<div class="copyright">
    <p class="copyright-p">&copy; 2024 BERT Petroleum Consultants. All rights reserved.</p>
</div>