
.map-icons {
    text-align: center;
}

.map-icon img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.map-icon {
    padding-bottom: 30px;
}

.last-paragraph {
    text-align: center;
}

.p43 {
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 20px;
}

.p44 {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
}




@media (max-width:600px) {

    .p43 {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 20px;
    }
    
    .p44 {
        font-size: 13px;
        line-height: 1.6;
        color: #666;
    }
}


@media (max-width:412px) {
    .p43 {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 20px;
    }
}